<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
<File name="MyFile" filename="C:\Users\Wei Xuan\Documents\GitHub\Bas\Log4j2Log.log">
	<File name="MyFile" filename="C:\Users\serwe\Documents\GitHub\purplebackup\AuditLog.log">
      <PatternLayout>
        <Pattern>%d{yyyy/MM/dd hh:mm a};%X{IP};%X{Username};%m%n</Pattern>
      </PatternLayout>
    </File>
    <Console name="Console" target="SYSTEM_OUT">
  		<PatternLayout>
  			<Pattern>%d{yyyy/MM/dd hh:mm a};%X{IP};%X{Username};%m%n</Pattern>
  		</PatternLayout>
  	</Console>
  </Appenders>
  <Loggers>
    <Root level="DEBUG">
    	<AppenderRef ref="MyFile"/>
		<AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
