@CHARSET "UTF-8";

*{
	padding: 0px;
	margin: 0px;
}

#Container{
	height: 100vh;
	padding: 0px;
	border: 1px solid blue;
}
nav{
	margin: 0px 15px;
	z-index: 1;
}

#Container-Container{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}

#Left-Container{
	width: 30%;
	height: 100%;
	float: left;
	padding: 100px 15px 15px 15px;
	background-color: rgb(149,117,205);
	color: white;
	border: 1px solid red;
}

#searchBox{
	width: 100%;
	height: 30px;
	color: rgb(230,230,230);
}

select{
	color: black;
}

#Right-Container{
	width: 70%;
	height: 100%;
	float: right;
	padding: 50px 15px 15px 15px;
	background-color: #EDE7F6;
	border: 1px solid green;
}