@CHARSET "UTF-8";

*{
	padding: 0px;
	margin: 0px;
}

/* Top Bar */
#Top-Container-Background{
	background-image: url(../images/landmark-bridge-cliff-california.jpeg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding: 0px;
}

#Top-Container{
	height: 400px;
	background-color: rgba(149,117,205,0.7);
}

#Top-Center-Container{
	position: relative;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#welcomeText{
	color: white;
	font-size: 36px;
	font-weight: bold;
}

#loginBtn{
	width: 150px;
	min-width: 150px;
}

/* Bottom Part */
#Bot-Container{
	height: 100%;
	min-height: 400px;
	background-color: white;
	text-align: center;
}

#Bot-Container-Container{
	height: 100%;
	margin: 20px;
}

.row{
	background-color: #EDE7F6;
	border-radius: 5px;
}

.col-md-2{
	margin: 30px 60px;
	padding: 40px;
	border-radius: 10px;
	background-color: #B39DDB;
	color: white;
}
