@CHARSET "UTF-8";

* {
	/*margin: auto;*/
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	height: 100%;
	width: 100%;
	
}

#theDiv {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

#aDiv {
	/*position: absolute;*/
	/*top: 20%;*/
	/*left: 20%;*/
	position: relative;
	margin: auto;
	margin-top: 100px;
	height: 460px;
	width: 1145px;
	/*width: 60%;*/
	/*overflow: hidden;*/
	box-shadow: 10px 10px 5px #888888;
}

#bDiv {
	/*margin: auto;*/
	height: 100%;
	width: 40%;
	float: left;
	background-color: #673AB7;
}

#basImgDiv {
	text-align: center;
	margin-top: 25%;
}

#basLogo {
	/*display: block;*/
	/*margin-top: 25%;*/
	/*margin-left: 28%;*/
	height: 200px;
	width: 200px;
}

#basTitle {
	text-align: center;
	font-size: 30px;
	color: white;
}

#cDiv {
	/*margin: auto;*/
	height: 100%;
	width: 60%;
	float: right;
	background-color: #EDE7F6;
}

#loginForm {
	text-align: center;
	padding: 90px;
	display: block;
	height: 500px;
	font-size: 20px;
}

.input::-webkit-input-placeholder {
   font-size: 20px;
   color: black;
}

.input {
  	border: none;
  	border-bottom: 1px solid #4a89dc;
  	-webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    	transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
 	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #4a89dc 4%);
  	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #4a89dc 4%);
  	background-position: -600px 0;
  	/*background-size: 200px 100%;*/
  	background-repeat: no-repeat;
  	color: black;
  	font-size: 20px;
}

.input:focus, .input:valid {
  	box-shadow: none;
  	outline: none;
  	background-position: 0px 0px;
  	border-bottom: none;
}

.input:focus::-webkit-input-placeholder, .input:valid::-webkit-input-placeholder {
  	-webkit-transform: translateY(-25px);
    	transform: translateY(-25px);
  	visibility: visible;
  	color: #4a89dc;
  	transition: all 0.3s ease;
  	font-size: 15px;
  	font-weight: bold;
}

#flexUInput {
	display: flex;
}

#flexPInput {
	display: flex;
	margin-top: 20px;
}

#namePart {
	margin-bottom: 20px;
}

#nameImg {
	height: 40px;
	width: 40px;
	margin-right: 10px;
	margin-top: 20px;
	/*position: absolute;*/
	/*left: 49%;*/
}

#userID {
	height: 60px;
	width: 90%;
	/*width: 80%*/
}

#inputNError {
	/*display: none;*/
	height: 40px;
	width: 100%;
	background-color: #F74225;
	font-size: 20px;
	padding: 7px;
	margin-top: 10px;
	color: white;
}

#namePart #inputNError::after {
	content: "";
    position: absolute;
    bottom: 52%;
    left: 87%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #F74225 transparent;
}

#passPart {
	margin-bottom: 10px;
}

#passImg {
	height: 40px;
	width: 40px;
	margin-right: 10px;
	margin-top: 20px;
	/*position: absolute;*/
	/*left: 49%;*/
}

#passID {
	height: 60px;
	width: 90%;
	/*width: 80%*/
}

#inputPError {
	/*display: none;*/
	height: 40px;
	width: 100%;
	background-color: #F74225;
	font-size: 20px;
	padding: 7px;
	margin-top: 10px;
	color: white;
}

#passPart #inputPError::after {
	content: "";
    position: absolute;
    bottom: 39%;
    left: 87%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #F74225 transparent;
}

#loginHeaderDiv {
	text-align: center;
	font-size: 30px;
	background-color: #9575CD;
	padding: 5px;
}

#loginHeader {
	color: white;
	padding: 10px;
}

#btnDiv {
	margin: auto;
	height: 20%;
	/*height: 200px;*/
	/*width: 80%;*/
	padding-top: 10px;
}

#forPass {
	font-size: 20px;
	float: left;
	cursor: pointer;
}

#btnLogin {
	font-size: 20px;
	text-align: center;
	height: 30px;
	width: 120px;
	border: none;
	float: right;
	background-color: #9575CD;
	cursor: pointer;
	color: white;
}

#btnLogin:hover, #btnLogin:focus {
	background-color: white;
	border: 1px solid #9575CD;
	color: #9575CD;
}

#popupDiv {
	display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#popupContent {
	position: relative;
    background-color: #FEFEFE;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    height: 385px;
    width: 800px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

#close {
	color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close:hover, #close:focus {
	color: #000;
    text-decoration: none;
    cursor: pointer;
}

#popupHeader {
	text-align: center;
	padding: 2px 16px;
    background-color: #9575CD;
    color: white;
    height: 20%;
}

#popupTitle {
	margin-top: 5px;
	font-size: 50px;
}

#popupBody {
	padding: 2px 16px;
	font-size: 30px;
	text-align: center;
	height: 80%;
	background-color: #EDE7F6;
}

#pInputDiv {
	margin-top: 80px;
	text-align: -webkit-center;
}

#pInputError {
	display: none;
	font-size: 25px;
	width: 50%;
	background-color: #F74225;
	color: white;
	padding: 10px;
	margin-top: 9px;
}

#pInputDiv #pInputError::after {
	content: "";
    position: absolute;
    bottom: 44%;
    left: 70%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #F74225 transparent;
}

#changeEmail {
	height: 45px;
	width: 50%;
	border: none;
	padding: 10px;
	font-size: 20px;
}

#changeEmail::-webkit-input-placeholder {
	font-size: 20px;
}

#changeEmail:focus {
	border: 1px solid black;
	outline: none;
}

.popupWords {
	position: relative;
	top: 10%;
}

#popupFooter {
	padding: 2px 16px;
    background-color: #9575CD;
    color: white;
    height: 20%;
}

#pBtnDiv {
	text-align: center;
}

#popupBtn {
	height: 40px;
	width: 200px;
	font-size: 20px;
	text-align: center;
	border: none;
	margin-top: 20px;
	/*position: relative;*/
	/*top: 20%;*/
	/*left: 40%;*/
	background-color: white;
	color: black;
	cursor: pointer;
}