@CHARSET "UTF-8";

*{
	padding: 0px;
	margin: 0px;
}

#leftUserList{
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 8%;
	float: left;
	background-color: rgb(128, 45, 148);
}

.usersOfChat{
	text-align: center;
	padding: 10px;
	background-color: white;
	-webkit-box-shadow: inset 3px 3px 103px -45px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 3px 3px 103px -45px rgba(0,0,0,0.75);
	box-shadow: inset 3px 3px 103px -45px rgba(0,0,0,0.75);
}

#wholeChatBox{
	position: fixed;
	left: 8%;
	bottom: 0px;
	height: 240px;
	width: 210px;
	float: right;
	display: none;
}

#topBarOfChatBox{
	height: 30px;
	background-color: grey;
}

#leftFloat{
	width: 80%;
	float: left;
	padding: 5px;
}

#rightFloat{
	width: 20%;
	float: right;
	text-align: right;
	padding: 5px;
}

#chatBox{
	position: absolute;
	background-color: orange;
}

iframe{
	overflow: hidden;
	border: none;
}

#sendMessageInput{
	height: 50px;
	width: 100%;
	background-color: white;
}

#receiveMessageBox{
	height: 150px;
	width: 100%;
	background-color: white;
}