@CHARSET "ISO-8859-1";
*{
	padding: 0px;
	margin: 0px;
}
.button {
  color:white;
  display: block;
  margin: 5px;
  padding: 7px 35px;
  font: 300 150% langdon;
  background-color: #0022FF;
  border: 3px solid black;
  cursor: pointer;
  text-align: center;
  width:17%;
} 

.button:hover {
  background: #9387FD;
  border: 1px solid #8b8b8b;
}

.button:active {
  background: #2e2e2e;
  border: 1px solid black;
  color: white;
  }
  
body{
 	background-color:#D1D1D1;
 }
 
 #newbutton{
 	font-size:50px;
 	margin-bottom:2%;
 	width:22%;
 }
 
 table, th{
 	 border: 1px solid black;
 }
 th{
 	font-size:35px;
 }
 table{
 	width:180%;
 }
 

 
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }
  
 #content1{
 	background-color: white;
 }
 #nameOfNewButton{
 	display: none;
 }
 
 #storeTable{
 	float: right;
 	margin: -10% 35% 0 0;
 }
 
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}
#myInput {
    border-box: box-sizing;
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
}

.dropdown {
    position: relative;
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}


 
 
 